@charset "utf-8";

html, body, #root {
  height: 100%;
}

/* 기본값: 스크린  - 푸터 */
.main-content {
  min-height: calc(100vh - 224px);
}

/* 모바일 환경에서는 최소 높이를 500px로 고정 */
@media (max-width: 768px) {
  .main-content {
    min-height: 500px;
  }
}

